.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fp-watermark {
  display: none;
}

/* MARQUEE */

.marquee {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}

.scroll-left span {
  display: inline-block;
  padding-left: 100%;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 20s linear infinite;
  -webkit-animation: scroll-left 20s linear infinite;
  animation: scroll-left 20s linear infinite;
}

.scroll-right span {
  display: inline-block;
  padding-left: 100%;
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-animation: scroll-right 20s linear infinite;
  -webkit-animation: scroll-right 20s linear infinite;
  animation: scroll-right 20s linear infinite;
}

.marquee-delayed span {
  animation-delay: 10s;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes scroll-right {
  0% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0%);
  }
}

@-webkit-keyframes scroll-right {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes scroll-right {
  0% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* SWIPER */

.swiper-slide {
  opacity: 0.2;
}

.swiper-slide-active {
  opacity: 1;
}

/* Web3 Modal */
.web3modal-provider-wrapper {
  padding: 0 !important;
  border: 0 !important;
  margin-bottom: 8px;
}

.web3modal-provider-container {
  padding: 16px !important;
  /* border: 1px solid rgba(195, 195, 195, 0.14); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.web3modal-modal-container {
  flex-direction: column;
}

.web3modal-modal-card {
  width: 320px !important;
  font-family: Noto Sans;
  display: block !important;
  position: relative;
  border-radius: 0 !important;
  margin: 0 !important;
}

.web3modal-provider-name {
  /* font-family: Noto Sans; */
  font-size: 17px !important;
}

.web3modal-provider-description {
  /* font-family: Noto Sans; */
  font-size: 14px !important;
  color: #9d9d9d !important;
}

#web3modal-header > h4 {
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 32px;
}

#web3modal-header > p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}

#web3modal-header > p > span > a {
  color: #3563e9;
  text-decoration: underline;
}

.web3modal-provider-icon > img {
  height: auto !important;
}

.web3modal-dangle {
  background-color: #ffffff;
  height: 15px;
  width: 288px;
}
