:not(#__next) img {
  display: initial !important;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fp-watermark {
  display: none;
}

/* WELCOME MOBILE SWIPER */

#welcome-carousel-mobile .swiper-slide {
  opacity: 0.2;
}

#welcome-carousel-mobile .swiper-slide-active {
  opacity: 1;
}

/* Web3 Modal */
.web3modal-provider-wrapper {
  padding: 0 !important;
  border: 0 !important;
  margin-bottom: 8px;
}

.web3modal-provider-container {
  padding: 16px !important;
  /* border: 1px solid rgba(195, 195, 195, 0.14); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.web3modal-modal-container {
  flex-direction: column;
}

.web3modal-modal-card {
  width: 320px !important;
  font-family: NotoSansTC;
  display: block !important;
  position: relative;
  border-radius: 0 !important;
  margin: 0 !important;
}

.web3modal-provider-name {
  font-size: 17px !important;
}

.web3modal-provider-description {
  font-size: 14px !important;
  color: #9d9d9d !important;
}

#web3modal-header > h4 {
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 32px;
}

#web3modal-header > p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}

#web3modal-header > p > span > a {
  color: #3563e9;
  text-decoration: underline;
}

.web3modal-provider-icon > img {
  height: auto !important;
}

.web3modal-dangle {
  background-color: #ffffff;
  height: 15px;
  width: 288px;
}

/* TO DELETE */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 160px;
  width: 100px;
  border: solid 2px red;
  background: lightcoral;
  backface-visibility: hidden;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px green;
}

/* TOAST */
.Toastify__toast-icon {
  width: 32px;
}

/* LANDING MOBILE SWIPER */
#landing-carousel-mobile .swiper-slide {
  width: 350px;
}

#landing-carousel-mobile .swiper-pagination {
  margin-top: 30px;
}

#landing-carousel-mobile .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 0px;
  opacity: 1;
  margin-left: 15px;
}

#landing-carousel-mobile .swiper-pagination-bullet-active {
  background-color: #edfa00;
}
